* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 320px;
  padding: 20px;
  border-radius: 10px;
}

.cardImage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.equilibrium-image {
  border-radius: 10px;
}

.Description {
  padding-bottom: 15px;
}
.ethereum-section {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.creator-profile {
  display: flex;
}

.icon {
  width: 15px;
}

.creatorImage {
  width: 35px;
}

img {
  width: 100%;
}

.clock {
  margin-top: 5px;
}

.eth-text {
  margin-top: 3px;
}

.text-days {
  font-size: 15px;
  padding-left: 5px;
}

.jules-info {
  margin-top: 13.5px;
}

.creator-info {
  margin-top: 10px;
  padding-left: 10px;
}

.jules {
  font-size: 1rem;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-size: 0.9rem;
  padding-left: 5px;
  color: hsl(178, 100%, 50%);
}
p {
  font-size: 16px;
  color: hsl(215, 32%, 27%);
}

span {
  color: hsl(0, 0%, 100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: cyan;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50);
  color: hsl(178, 100%, 50%);
  text-align: center;
}

.cardImage:hover .overlay {
  opacity: 0.7;
}

h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
